---
import { Icon } from "@iconify/react";
import { information } from "~/data/site";
---

<footer
  class="flex flex-col justify-center bg-primary-900 py-8 text-center text-white lg:h-screen lg:py-36 dark:bg-dark-200"
>
  <div class="pb-24">
    <div class="py-6 text-white">
      <h2 class="shape">Interested In Working Together?</h2>
    </div>
    <span class="block max-sm:px-4 pb-12 text-white">
      Over 8 years of industry experience in Game/Frontend development with special interest.
    </span>
    <a href="/contact/" class="btn btn-primary"><span>Book your Consultation</span></a>
  </div>
  <div class="pt-2">
    <div class="flex flex-col items-center justify-center gap-4 lg:flex-row">
      <div class="px-4 lg:border-r">
        <span class="text-white">&copy; Prakash Poudel</span>
      </div>
      <div class="flex flex-wrap justify-center gap-2 lg:justify-start">
        <a class="iconwrap" href={information.socialAddress.facebook} aria-label="Facebook">
          <Icon icon="ei:sc-facebook" width="32" height="32" client:load />
        </a>
        <a class="iconwrap" href={information.socialAddress.twitter} aria-label="Twitter">
          <Icon icon="ei:sc-twitter" width="32" height="32" client:load />
        </a>
        <a class="iconwrap" href={information.socialAddress.linkedin} aria-label="LinkedIn">
          <Icon icon="ei:sc-linkedin" width="32" height="32" client:load />
        </a>
        <a class="iconwrap" href={information.socialAddress.github} aria-label="GitHub">
          <Icon icon="ei:sc-github" width="32" height="32" client:load />
        </a>
      </div>
    </div>
  </div>
</footer>
