.btn-primary {
  @apply h-16 rounded-full border border-primary-300 bg-primary-300 py-4 px-8 text-lg font-medium normal-case text-white hover:border-white  hover:text-slate-900;
  &:active {
    @apply transition duration-500;
  }

  &::after {
    content: "";
    @apply absolute left-0 top-0 inline-block h-full w-full origin-bottom scale-y-0 transform bg-white transition-transform duration-500;
  }
  &:hover {
    &::after {
      @apply origin-top scale-y-100;
    }
  }
}

.btn-secondary {
  @apply h-16 rounded-full border border-gray-900 dark:border-white bg-gray-900 dark:bg-white dark:text-black py-4 px-8 text-lg font-medium normal-case text-white dark:hover:text-white dark:hover:bg-gray-900 hover:text-slate-900;
  &:active {
    @apply transition duration-500;
  }
  &::after {
    content: "";
    @apply absolute left-0 top-0 inline-block bg-white dark:bg-gray-900 h-full w-full origin-bottom scale-y-0 transform  transition-transform duration-500;
  }
  &:hover {
    &::after {
      @apply origin-top scale-y-100;
    }
  }
}

.btn-link {
  @apply relative text-lg font-medium normal-case text-black no-underline hover:no-underline;

  span {
    @apply relative z-10;
  }

  &:before {
    content: "";
    @apply bg-primary-100/40 dark:bg-primary-100/20;
    position: absolute;
    width: 59px;
    height: 59px;
    left: -15px;
    top: -16px;
    border-radius: 50px;
    transition: 0.25s all ease-in-out;
    z-index: 0;
  }

  &:hover {
    &:before {
      @apply bg-primary-100/40 dark:bg-primary-100/20;
      position: absolute;
      width: 80px;
      height: 80px;
      left: 10px;
      top: -25px;
      border-radius: 50px;
      z-index: 0;
    }
  }
  &.reserve {
    &:before {
      content: url("https://api.iconify.design/akar-icons/arrow-left.svg?width=19&height=19");
      padding-right: 0;
      position: relative;
      top: 3px;
      z-index: 2;
      left: -5px;
      background: none;
    }

    &:after {
      content: "";
      position: absolute;
      width: 59px;
      height: 59px;
      right: -15px;
      top: -16px;
      background: #d9edff;
      border-radius: 50px;
      transition: 0.25s all ease-in-out;
      z-index: 0;
    }
    &:hover {
      &:after {
        position: absolute;
        width: 80px;
        height: 80px;
        right: 10px;
        top: -25px;
        background: #d9edff;
        border-radius: 50px;
        z-index: 0;
      }
    }
  }
}
